.table {
  margin-left: 25px;
  margin-top: 25px;
  width: 505px;
  height: 50px;
  background-color: #333; /* Темный фон для таблицы */
  color: #e0e0e0; /* Светлый текст */
}

.table th {
  background-color: #444; /* Темный фон для заголовков */
  color: white; /* Светлый текст для заголовков */
}
